<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Healthhub</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />

  <base href="/">
  <link href="assets/img/favicon.png" rel="icon" />

  <link rel="stylesheet" href="assets/css/bootstrap.min.css" />

  <link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css" />
  <link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css" />

  <link rel="stylesheet" href="assets/plugins/apex/apexcharts.css" />

  <link rel="stylesheet" href="assets/css/style.css" />
</head>

<body>
  <div class="main-wrapper">
    <header class="header">
      <nav class="navbar navbar-expand-lg header-nav">
        <div class="navbar-header">

          <a href="/" class="navbar-brand logo">
            <img src="assets/img/logo.png" class="img-fluid" alt="Logo" />
          </a>
        </div>
        <div class="main-menu-wrapper">
          <div class="menu-header">
            <a href="/" class="menu-logo">
              <img src="assets/img/logo.png" class="img-fluid" alt="Logo" />
            </a>
            <a id="menu_close" class="menu-close" href="javascript:void(0);">
              <i class="fas fa-times"></i>
            </a>
          </div>
        </div>
        <ul class="nav header-navbar-rht">
          <li class="nav-item contact-item">
            <div class="header-contact-img">
              <i class="far fa-hospital"></i>
            </div>
            <div class="header-contact-detail">
              <p class="contact-header">Contact</p>
              <p class="contact-info-header">+250 784 200 694</p>
            </div>
          </li>

          <li class="nav-item dropdown has-arrow logged-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <span class="user-img">
                <img class="rounded-circle" src="assets/img/patients/patient.jpg" width="31" alt="Ryan Taylor" />
              </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="user-header">
                <div class="avatar avatar-sm">
                  <img src="assets/img/patients/patient.jpg" alt="User Image" class="avatar-img rounded-circle" />
                </div>
                <div class="user-text">
                  <h6>Wanjiru Wangondu</h6>
                  <p class="text-muted mb-0">Patient</p>
                </div>
              </div>
              <a class="dropdown-item" href="patient-dashboard">Dashboard</a>
              <a class="dropdown-item" href="profile-settings">Profile Settings</a>
              <a class="dropdown-item" href="login">Logout</a>
            </div>
          </li>
        </ul>
      </nav>
    </header>



    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
            <div class="profile-sidebar">
              <div class="widget-profile pro-widget-content">
                <div class="profile-info-widget">
                  <a href="#" class="booking-doc-img">
                    <img src="assets/img/patients/patient.jpg" alt="User Image" />
                  </a>
                  <div class="profile-det-info">
                    <h3>Wanjiru Wangondu</h3>
                    <div class="patient-details">
                      <h5>
                        <i class="fas fa-birthday-cake"></i> 04 Oct 2001, 20
                        years
                      </h5>
                      <h5 class="mb-0">
                        <i class="fas fa-map-marker-alt"></i> Nairobi, Kenya
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="dashboard-widget">
                <nav class="dashboard-menu">
                  <ul>
                    <li class="active">
                      <a href="patient-dashboard">
                        <i class="fas fa-columns"></i>
                        <span>Dashboard</span>
                      </a>
                    </li>

                    </li>

                    <li>
                      <a href="medical-records">
                        <i class="fas fa-clipboard"></i>
                        <span>Add Medical Records</span>
                      </a>
                    </li>
                    <li>
                      <a href="medical-details">
                        <i class="fas fa-file-medical-alt"></i>
                        <span>Medical Details</span>
                      </a>
                      <a href="booking">
                        <i class="fas fa-file-medical-alt"></i>
                        <span>Booking</span>
                      </a>
                    </li>

                  </ul>
                </nav>
              </div>
            </div>
          </div>

          <div class="col-md-7 col-lg-8 col-xl-9">
            <div class="row">
              <div class="
                    col-12 col-md-6 col-lg-4 col-xl-3
                    patient-dashboard-top
                  ">
                <div class="card">
                  <div class="card-body text-center">
                    <div class="mb-3">
                      <img src="assets/img/specialities/pt-dashboard-01.png" alt="" width="55" />
                    </div>
                    <h5>Heart Rate</h5>
                    <h6>12 <sub>bpm</sub></h6>
                  </div>
                </div>
              </div>
              <div class="
                    col-12 col-md-6 col-lg-4 col-xl-3
                    patient-dashboard-top
                  ">
                <div class="card">
                  <div class="card-body text-center">
                    <div class="mb-3">
                      <img src="assets/img/specialities/pt-dashboard-02.png" alt="" width="55" />
                    </div>
                    <h5>Body Temperature</h5>
                    <h6>18 <sub>C</sub></h6>
                  </div>
                </div>
              </div>
              <div class="
                    col-12 col-md-6 col-lg-4 col-xl-3
                    patient-dashboard-top
                  ">
                <div class="card">
                  <div class="card-body text-center">
                    <div class="mb-3">
                      <img src="assets/img/specialities/pt-dashboard-03.png" alt="" width="55" />
                    </div>
                    <h5>Glucose Level</h5>
                    <h6>70 - 90</h6>
                  </div>
                </div>
              </div>
              <div class="
                    col-12 col-md-6 col-lg-4 col-xl-3
                    patient-dashboard-top
                  ">
                <div class="card">
                  <div class="card-body text-center">
                    <div class="mb-3">
                      <img src="assets/img/specialities/pt-dashboard-04.png" alt="" width="55" />
                    </div>
                    <h5>Blood Pressure</h5>
                    <h6>202/90 <sub>mg/dl</sub></h6>
                  </div>
                </div>
              </div>
            </div>

             

                     
                                
 

  <script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
  <script src="assets/js/jquery.min.js"></script>

  <script src="assets/js/popper.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>

  <script src="assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
  <script src="assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

  <script src="assets/plugins/apex/apexcharts.min.js"></script>

  <script src="assets/js/script.js"></script>
</body>



</html>